/* Fonts family */
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Regular', sans-serif;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.button {
  background-color: #fdb303;
  color: #ffffff;
  padding: 1.2rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-size: 1.1em;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e5a202;
}
/* Главная форма */
.form {
  position: relative;
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
}
.form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.form-header strong {
  font-size: 1.9rem;
}
.form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.form small {
  display: block;
  margin-top: 1.5rem;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  font-size: 3.6rem;
  text-align: center;
}
.section-header-light {
  color: #f5f5f5;
  margin-top: 0;
}
.section-header h2 {
  margin: 2rem 0;
  font-size: 3.6rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.section-header p {
  font-size: 1.4rem;
}
/* Main */
.main {
  padding: 3rem 0;
  background: #ffffff url(../img/main.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-sub {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8em;
  color: #ffffff;
  background-color: #46b914;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.header {
  height: 7rem;
}
.header-col {
  justify-content: end;
}
.phone_link {
  display: inline-block;
  font-size: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: #292929;
}
/* Блок с преимуществами */
.features-block {
  text-align: center;
}
.features-img {
  height: 8rem;
  display: inline-block;
  text-align: center;
  margin-bottom: 3rem;
}
.features h3 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'ProximaNova_Bold', sans-serif;
  margin-bottom: 1.6rem;
}
.features p {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: 1.4rem;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/features/left-button.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/features/right-button.svg) center no-repeat;
  background-size: 70%;
}
.header-features {
  text-align: center;
  margin-bottom: 12rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 3.6rem;
  font-weight: 900;
}
/* Цены */
.prices {
  background: url(../img/prices/green.jpg) center, #46b914;
  color: #f5f5f5;
  text-align: center;
}
.prices-box {
  margin-top: 4rem;
}
.prices-block {
  background: #ffffff;
  color: #292929;
  padding: 3rem 3rem;
  font-size: 1.6rem;
  line-height: 1.6;
  max-width: 41rem;
}
.prices-block p {
  padding: 0;
}
.prices-block p strong {
  font-size: 2.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.prices-block ul {
  font-size: 1.2rem;
  list-style-type: none;
}
.prices-block li:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/prices/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 1rem;
}
.prices-img {
  display: inline-block;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 2rem;
}
.prices-bottom-text {
  height: 100%;
  min-height: 20rem;
}
.prices-header-btn {
  float: right;
  margin-top: 2.5rem;
  box-shadow: 7px 12px 21px 0 px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.prices h4 {
  font-size: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  padding: 2rem 0;
  min-height: 9rem;
}
/* Отзывы */
.feedback {
  position: relative;
  background: #d3b0b0 url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-slider {
  background-color: #fff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  margin-bottom: 12rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background: #46b914;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b914;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b914;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback h3 {
  font-family: 'ProximaNova_Bold', sans-serif;
}
.feedback-form {
  text-align: center;
}
.feedback-form label {
  transform: translateX(0%) translateY(130%);
  background-color: #ffffff;
  padding: 0.5rem;
}
.feedback-form-btn {
  max-width: 90rem;
}
.hand {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 20%;
}
.customer {
  align-items: center;
}
.customer p {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.customer-name {
  font-size: 1.8rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
/* Блок с иконками */
.scheme {
  background: #ffffff url(../img/shpatel.png) bottom -13rem right 0rem no-repeat;
  background-size: 75rem;
}
.scheme-block {
  margin-top: 2rem;
}
.scheme-block h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.scheme-block p {
  margin-top: 1.5rem;
}
.scheme-block img {
  max-height: 9.5rem;
}
/* Все на 100% включено */
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive-header h2 {
  color: #06a30e;
}
.all-inclusive-blocks {
  margin-top: 6rem;
}
.all-inclusive-blocks-box {
  margin-bottom: 5rem;
}
.all-inclusive .circle-header {
  font-size: 1.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  margin-bottom: 0.3rem;
}
.all-inclusive .circle-text {
  font-size: 1.1rem;
}
.all-inclusive .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #06a30e;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.all-inclusive .border-circle {
  text-align: center;
  display: inline-block;
  border: 2px solid #06a30e;
  border-radius: 50%;
  padding: 0.3rem;
}
.all-inclusive .circle-info {
  margin-top: 2.5rem;
}
/* Мы развеем все опасения: */
.solutions {
  position: relative;
}
.solutions-header {
  margin-bottom: 3rem;
}
.solutions-block-problems,
.solutions-block-solutions {
  display: block;
  border: 3px solid;
  padding: 3rem;
  min-height: 30rem;
}
.solutions-block-problems h3,
.solutions-block-solutions h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  margin-bottom: 3rem;
}
.solutions-block-problems p,
.solutions-block-solutions p {
  font-size: 1.4rem;
}
.solutions-block-problems ul,
.solutions-block-solutions ul {
  list-style-type: none;
  padding: 0;
}
.solutions-block-problems li,
.solutions-block-solutions li {
  padding: 0;
  margin-bottom: 2rem;
  margin-left: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.solutions-block-problems li:before,
.solutions-block-solutions li:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 1rem;
  margin-left: -3rem;
}
.solutions-block-problems {
  border-color: #757575;
}
.solutions-block-problems h3 {
  color: #757575;
}
.solutions-block-problems li:before {
  background: url(../img/cancel.svg) no-repeat center;
  background-size: 100%;
}
.solutions-block-solutions {
  border-color: #06a30e;
}
.solutions-block-solutions li:before {
  background: url(../img/prices/check.svg) no-repeat center;
  background-size: 100%;
}
.solutions-woman {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 68%;
  margin-left: -4rem;
}
/* Материалы */
.materials-slider {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.materials-slider-block {
  text-align: center;
}
.materials-slider-block img {
  margin: 0 auto;
}
.materials-slider-block h4 {
  font-size: 1.6rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  margin-bottom: 1.5rem;
}
.materials-slider-block p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0;
}
.materials-slider-block p span {
  font-family: 'ProximaNova_Bold', sans-serif;
}
.materials-bottom-text {
  text-align: center;
  font-size: 1.2rem;
}
.materials-bottom-text span {
  font-size: 1.4rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.materials-bottom-text a {
  text-decoration: none;
  color: #06a30e;
}
.sertificate {
  display: inline-block;
  font-size: 1.4rem;
  color: #06a30e;
  text-decoration: none;
  border-bottom: 1px dotted #06a30e;
  margin-top: 1.5rem;
}
.sertificate:hover {
  color: #035908;
  border-color: #035908;
}
/* Посмотрите как мы работам / contact-form */
.contact-form {
  background: #ffffff url(../img/man.png) bottom center no-repeat;
  background-size: cover;
}
.contact-form-header h1 {
  text-align: left;
  margin-bottom: 4rem;
  font-size: 4rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  line-height: 1.45;
  text-transform: uppercase;
}
.contact-form-header p {
  margin: 0;
}
.contact-form-header-text {
  padding: 5rem auto;
  font-size: 2rem;
  text-align: left;
}
.contact-form-header-text-top {
  padding-bottom: 1.5rem;
}
/* Upsell / Дополнительные услуги */
.upsell {
  background: url(../img/prices/green.jpg) center, #46b914;
  color: #ffffff;
}
.upsell-info {
  text-align: center;
  margin-top: 5rem;
}
.upsell-info-block {
  min-height: 30rem;
}
.upsell-info-block img {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 30rem;
}
.upsell-info-block p {
  font-size: 2rem;
}
.upsell-info-btn {
  float: bottom;
  font-family: 'ProximaNova_Bold', sans-serif;
}
/* Contact/ Контакты */
.contact {
  background: #f5f5f5 url(../img/footer/footer-tool.png) bottom center no-repeat;
  background-size: cover;
}
.contact-map-header {
  padding: 5rem auto;
  text-align: left;
}
.contact-map p {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  line-height: 2.5rem;
}
.contact-map-block {
  margin: 2.5rem auto;
}
/* footer */
.footer {
  padding: 3rem;
}
.footer-logo {
  text-align: left;
}
.footer-logo img {
  max-height: 5rem;
  margin: auto 0;
}
.footer-contacts {
  text-align: center;
}
.footer-contacts h5 {
  font-size: 1.6rem;
}
.footer-contacts-underline {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #292929;
  color: #292929;
  font-size: 1.2rem;
}
.footer-contacts-underline:hover {
  color: #06a30e;
  border-color: #06a30e;
}
.footer-contacts-justunderline {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #292929;
  color: #292929;
  font-size: 1.2rem;
}
.footer-des {
  text-align: right;
}
.footer-des p {
  font-size: 0.9rem;
}
.footer-des img {
  display: inline-block;
  text-align: center;
  max-height: 4rem;
}
/* Модальные окна */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(36, 29, 29, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background: #ffffff;
  transform: translateX(-50%);
  text-align: center;
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -2rem;
  right: -3rem;
  width: 3rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 4rem;
  color: #f5f5f5;
}
.popup-header {
  font-size: 2rem;
  font-weight: 900;
  font-family: 'ProximaNova_Bold', sans-serif;
  padding-bottom: 2rem;
}
@media (max-width: 1700px) {
  .scheme {
    background: #ffffff url(../img/shpatel.png) bottom -13rem right -5rem no-repeat;
    background-size: 65rem;
  }
}
@media (max-width: 1400px) {
  .contact-form-btn {
    font-size: 1.3rem;
  }
}
@media (max-width: 1300px) {
  .scheme {
    background-position: bottom -9rem right -12rem;
    background-size: 55rem;
  }
}
@media (max-width: 1200px) {
  .contact {
    background: #f5f5f5;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .main-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .main-content {
    margin-top: 5rem;
  }
  .header-col {
    justify-content: center;
  }
  .prices-block h4 {
    min-height: 11.2rem;
  }
  .scheme {
    background-image: none;
  }
  .all-inclusive-blocks-box {
    max-height: 4rem;
  }
  .solutions-block-solutions,
  .solutions-block-problems {
    min-height: 35rem;
  }
  .contact-form-header h1 {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }
  .contact-form-header-text {
    font-size: 1.5rem;
  }
  .contact-form .contact-form-btn {
    font-size: 1.2rem;
  }
  .upsell-info-block p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    min-height: 6rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    height: 100%;
  }
  .header .row {
    text-align: center;
  }
  .header-col {
    margin-top: 2rem;
    justify-content: center;
  }
  .next {
    margin-right: -15px;
  }
  .prev {
    margin-left: -15px;
  }
  .prices-header-btn {
    float: none;
  }
  .prices-block {
    margin: 0 auto;
  }
  .prices-block h4 {
    min-height: 9rem;
  }
  .prices-bottom-text {
    min-height: 10rem;
    margin-bottom: 3rem;
  }
  .feedback {
    text-align: center;
  }
  .feedback-slider_item {
    text-align: center;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .feedback-slider-btn {
    top: 50%;
    transform: translateY(50%);
    width: 3rem;
    height: 4rem;
  }
  .feedback-slider-btn img {
    width: 50%;
  }
  .feedback-form label {
    transform: translateX(0%) translateY(50%);
  }
  .feedback-form-block-btn {
    margin-top: 2rem;
  }
  .feedback .form-input {
    margin: 0;
  }
  .feedback .hand {
    display: none;
  }
  .feedback-slider_item {
    padding: 2rem;
  }
  .solutions-woman {
    display: none;
  }
  .solutions-block-header h2 {
    margin-bottom: 5rem;
  }
  .solutions-block-solutions,
  .solutions-block-problems {
    margin-bottom: 3rem;
    min-height: auto;
  }
  .upsell-info-block p {
    min-height: auto;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 3rem;
  }
  .footer-des {
    margin-top: 3rem;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .prev,
  .next {
    margin-right: 0;
    margin-left: 0;
  }
  .feedback-slider-btn {
    top: 45%;
    transform: translateY(50%);
    width: 3rem;
    height: 4rem;
  }
  .feedback-slider-btn img {
    width: 50%;
  }
  .scheme-block {
    text-align: center;
    max-width: 35rem;
    margin-top: 4rem;
  }
  .contact-form {
    background: #f5f5f5;
    text-align: center;
  }
  .contact-form-header-text,
  .contact-form-header h1 {
    text-align: center;
  }
  .contact-form-header-text {
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .main-content h1 {
    font-size: 2.5rem;
  }
}
